<div >
<%= image_tag 'Z.jpg', class: "banner", id:"page-top" %>
</div>
<body data-spy="scroll" data-target="#navbar-wagon" >
  <div id="section1" >
    <div class="principal-section1">
     <div class="element1">
       <%= image_tag 'me.jpg' , class: "banner" %>
     </div>
     <div class="element2">
       <h2>Qui Sommes Nous</h2>
       <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
       <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
     </div>
   </div>

  <div id="section2" >
    <h1 class="text-center">VISITE 360</h1>
    <p class="text-center">Café, apéro, sourire, background music.. Un bar lounge à Gradignan ?</p>
    <div class="principal">
      <div class="element1">
        <%= image_tag 'c.jpg', class: "banner"  %>
      </div>
      <div class="element1">
        <%= image_tag 'd.jpg', class: "banner" %>
      </div>
      <div class="element1">
        <%= image_tag 'e.jpg', class: "banner" %>
      </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sfr!2sfr!4v1483541305670!6m8!1m7!1s2phyaoyVIQUAAAQ0HhEkMA!2m2!1d44.77403295402318!2d-0.6129909458252314!3f145.5812696385602!4f-4.068555018399167!5f0.7820865974627469" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <h3 class="link text-center">Voir le salon en 360°</h3>
  </div>

  <div id="section3" >
    <h1>TARIFS</h1>
    <div class="principal">
      <div class="women">
        <h2>FEMININ</h2>
        <ul class=leaders>
          <li><span>Shampoing/Coupe/Coiffage</span>
           <span>35 <i class="fa fa-eur" aria-hidden="true"></i></span>
          <li><span>Shampoing/Coupe/Coiffage/Couleur</span>
           <span>57,50 <i class="fa fa-eur" aria-hidden="true"></i></span>
          <li><span>Shampoing/Coupe/Coiffage/Balayge</span>
           <span>73 <i class="fa fa-eur" aria-hidden="true"></i></span>
          <li><span>Shampoing/Coupe/Coiffage/Permanente</span>
           <span>68 <i class="fa fa-eur" aria-hidden="true"></i></span>
          <li><span>Coupe enfant - fille</span>
           <span>10 <i class="fa fa-eur" aria-hidden="true"></i></span>
          <li><span>Coupe enfant - fille</span>
           <span>16 <i class="fa fa-eur" aria-hidden="true"></i></span>
          <li><span>Coupe enfant - fille</span>
            <span>22 <i class="fa fa-eur" aria-hidden="true"></i></span>
        </ul>
      </div>
      <div class="man">
        <h2>Masculin</h2>
        <ul class=leaders>
          <li><span>Shampoing/Coupe/Coiffage</span>
           <span>21 <i class="fa fa-eur" aria-hidden="true"></i></span>
          <li><span>Coupe enfant - garçon</span>
           <span>9 <i class="fa fa-eur" aria-hidden="true"></i></span>
          <li><span>Coupe enfant - garçon</span>
           <span>13 <i class="fa fa-eur" aria-hidden="true"></i></span>
          <li><span>Coupe enfant - garçon</span>
           <span>15 <i class="fa fa-eur" aria-hidden="true"></i></span>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div id="section4">
    <%= image_tag 'banner-contact2.png', class: "banner" %>
    <div class="contact">
      <i class="fa fa-mars" aria-hidden="true"></i>
      <div class="a">
        <p>98 cours du général de gaulle </br> Gradignan 33 170</p>
        <i class="fa fa-phone-square" aria-hidden="true"></i>
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </div>
      <i class="fa fa-venus" aria-hidden="true"></i>
    </div>
  </div> -->
</body>
